<div class="teams-list-container animate-fade p-4">
  <div class="header-section d-flex justify-content-between align-items-center mb-4">

    <button class="btn btn-primary d-flex align-items-center gap-2 px-4 py-2 fw-bold shadow-sm" (click)="addPlayer()">
      <i class="bi bi-plus-circle"></i> Register New Team
    </button>
  </div>

  <div class="table-card bg-white rounded-4 shadow-sm border overflow-hidden">
    <app-data-table [config]="tableConfig" [data]="teams$ | async" (actionClick)="handleAction($event)">
    </app-data-table>
  </div>
</div>